* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: $font-primary;
    background-image: url("../images/bg-pattern.svg");
    background-color: $primary;
}

h1 {
    text-decoration: underline;
}

input {
    font-family: $font-secondary;
}

@media (min-width: 768px) {
    .regform-center {
        height: 100%;
    }
}