@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
$font-primary: 'Roboto Slab', serif;
$font-secondary: 'Roboto', sans-serif;

$primary:                    #7375fac2;
$secondary:                  #aab2f7;

$btn-purple:                 #4528c5;
$btn-purple-secondary:       #3a22a7;
$btn-purple-hover:           #2a1979;
$btn-purple-boxshadow:       rgba(100, 84, 173, 0.5);
$btn-purple-border:          #2f1b85;
$btn-text:                   #ffffff;          